{% extends "base.html" %}

{% block content %}
    <h1>Acerca de mí</h1>
    <p>Hola 👋, soy estudiante de <strong>Ingeniería Industrial</strong> y actualmente trabajo en la <strong>industria automotriz</strong>. 
    Tengo interés en diversificar mis habilidades y aprender nuevas herramientas que me permitan aplicarlas en mi ámbito laboral.</p>

    <p>Este proyecto forma parte de mi aprendizaje y de mi camino para expandir mis conocimientos en <strong>programación y desarrollo web</strong>.</p>

    <hr>
    <a href="{% url 'inicio' %}">Volver al inicio</a>
{% endblock %}
